.predio {
  display: flex;
  width: 500px;
  height: 100%;
  background-color: var(--color-predio);
  gap: 10px;
}

.coluna {
  display: flex;
  flex-direction: column;
  background-color: #0006;
  flex: 2;
}

.poco {
  display: flex;
  background-color: #fff9;
  flex: 1;
}
